body {
  background-color: #ffe6f2;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  background: white;
  color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 20px 0;
  text-align: left;
}

.card h2 {
  font-weight: bold;
}

.card a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.card a:hover {
  text-decoration: underline;
}
